# Временные файлы и бэкапы KiCad 8+
.history/
*-backups/
*-backups
*-cache/
*-cache

# Файлы блокировки (создаются при открытии проекта)
*.lck

# Специфические файлы и автосохранение
*.bak
*_autosave-*
*.tmp
